Django==6.0.2
djangorestframework
django-cors-headers
django-oauth-toolkit
PyLTI1p3==2.0.0
oauthlib
requests
python-dotenv
pymysql
sshtunnel>=0.4.0
paramiko>=2.7.0,<2.9.0
cryptography>=3.4.8
defusedxml>=0.7.1