{% extends 'base.html' %}
{% load static %}

{% block title %}Learning Analytics Dashboard - ModuLearn{% endblock %}

{% block content %}
<div class="container-fluid py-2 py-md-4">

    {% include 'dashboard/components/dashboard_header.html' %}

    <!-- Dashboard Content Area (Hidden until data is loaded) -->
    <div id="dashboardContent" class="d-none">
        {% include 'dashboard/components/dashboard_kpi_cards.html' %}
        {% include 'dashboard/components/dashboard_mastery_grid.html' %}
    </div>
                        
    {% include 'dashboard/components/dashboard_modals.html' %}

</div>
{% endblock %}

{% block extra_css %}
{% include 'dashboard/components/dashboard_styles.html' %}
{% endblock %}

{% block extra_js %}
{% include 'dashboard/components/dashboard_scripts.html' %}
{% endblock %}
